<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>列表页</title>
  <link href="/css/base.css" rel="stylesheet">
  <link href="/css/index.css" rel="stylesheet">
  <link href="/css/m.css" rel="stylesheet">
  <script src="/js/jquery.min.js"></script>
  <script src="/js/hc-sticky.js"></script>
  <script src="/js/comm.js"></script>
</head>

<body>
  <header id="header">
    <div class="navbar">
      <div class="topbox">
        <p class="welcome">列表模板，经典的图片和文字布局。每一行间距以及图片大小，都是经过认真反复的测试再合理布局。</p>
        <div class="searchbox">
          <div id="search_bar" class="search_bar">
            <form id="searchform" action="[!--news.url--]e/search/index.php" method="post" name="searchform">
              <input class="input" placeholder="想搜点什么呢.." type="text" name="keyboard" id="keyboard">
              <input type="hidden" name="show" value="title" />
              <input type="hidden" name="tempid" value="1" />
              <input type="hidden" name="tbname" value="news">
              <input type="hidden" name="Submit" value="搜索" />
              <p class="search_ico"> <span></span></p>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="header-navigation">
      <nav>
        <div class="logo"><a href="/">个人博客</a></div>
        <h2 id="mnavh"><span class="navicon"></span></h2>
        <ul id="starlist">
          <li><a href="/">网站首页</a></li>
          <li><a href="/about">关于我</a></li>
          <!-- <li class="menu"><a href="fengmian.html">学无止境</a>
            <ul class="sub">
              <li><a href="#">慢生活</a></li>
              <li><a href="#">美文欣赏</a></li>
            </ul>
          </li>
          <li><a href="info.html">慢生活</a></li>
          <li><a href="time.html">时间轴</a></li> -->
        </ul>
      </nav>
    </div>
  </header>
  <div class="wrapper">
    <main>
      <h2 class="place">您现在的位置是：网站首页&gt; <a href="/">列表页</a></h2>

      <div class="bloglist">
        <ul>
          {volist name="data" id="vo"}
          <li> <i class="blogpic"><a href="/content/{$vo.id}"><img src="/uploads/{$vo.image}" alt=""> </a></i>
            <dl>
              <dt><a href="/content/{$vo.id}" target="_blank">{$vo.title}</a></dt>
              <dd><span class="bloginfo">{$vo.short_content}</span>
                <p class="timeinfo"><span class="lanmu"><a href="#" target="_blank">个人博客</a></span><span class="date">{$vo.create_time|substr=0,10}</span></p>
                <a class="read" href="/content/{$vo.id}">阅读更多</a>
              </dd>
            </dl>
          </li>
          {/volist}
        </ul>
      </div>
      <!--bloglist end-->
      <div class="pagelist">
        {$data|raw}
      </div>
    </main>
    <aside class="sidebar">
      <div class="tjlm">
        <h2 class="hometitle">文章分类</h2>
        <ul>
          {volist name="category" id="vo"}
          <li {if ($vo.id==$cat_id)}class="selected"{/if}><a href="/list/{$vo.id}">{$vo.name}</a></li>
          {/volist}

        </ul>
      </div>
      <div class="about">
        <h2 class="hometitle">关于本站</h2>
        <ul>
          <div class="avatar"> <img src="/images/tx.png" alt=""> </div>
          <p class="abname">依忆倾年</p>
          <p class="abtext"> 一个潜心学习PHP的新人，因为国内最流行ThinkPHP5，就想用tp5写一个个人博客，好在与laravel相差不大，得以博客写出，但因为技术不够，做的有些简陋，敬请谅解 </p>
          <li><a class="xlwb" href="#" target="_blank"></a></li>
          <li><a class="txqq" href="" target="_blank"></a></li>
          <li><a class="rss" href="" target="_blank"></a></li>
          <li class="wxpic"><a class="wx" href=""></a><img src="/images/grwx.png"></li>
        </ul>
      </div>
      <div class="ad"> <img src="/images/back2.jpg"> </div>
    </aside>
    <!--sidebar end-->
  </div>
  <!--wrapper end-->
  <footer>
    <div class="footer">
      <div class="wxbox">
        <ul>
          <!-- <li><img src="/images/grwx.png"><span>我的微信</span></li>
          <li><img src="/images/wx.jpg"><span>微信公众号</span></li> -->
        </ul>
      </div>
      <div class="bzjj">
        <h2>本站简介</h2>
        <p>一个潜心学习PHP的新人，因为国内最流行ThinkPHP5，就想用tp5写一个个人博客，好在与laravel相差不大，得以博客写出，但因为技术不够，做的有些简陋，敬请谅解</p>
      </div>
      <div class="other">

        <p>交流邮箱：blc0927@163.com</p>
        <p>&nbsp;</p>
       
      </div>
    </div>
  </footer>
  <a href="#" class="cd-top">Top</a>
</body>

</html>